<%- include("header") -%>

    <section class="sec formsec">
      <h2>Compare GitHub Repo</h2>
        <form class="" action="/compare" method="post">
          <input type="text" class="form-control" name="repoURL1" placeholder="Enter URL 1" required>
          <input type="text" class="form-control" name="repoURL2" placeholder="Enter URL 2" required>
          <button type="submit" name="button">Compare</button>
        </form>

        <% if(copyPer != -1){%>
          <div class="perCon">
            <p><%= Math.round(copyPer.score*100)%>% copied</p>
          </div>
        <%}%>
    </section>

  </body>
</html>
