<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>TPlagChecker</title>
  <!-- <link rel="icon" href="images/favimg.JPG"> -->


  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/style/index.css">
  <script type="text/javascript" src="/script/index.js" defer></script>
</head>

<body>

  <!--NavBar Section -->

  <div class="header">
    <div class="name">
      <a class="logo" href="/">GitEctive</a>
    </div>
    <div class="nav-lin">
      <!-- Nav List-->
      <ul class="nav-ul">
        <li><a href="/analyze">Analyze</a></li>
        <li><a href="/compare">Compare</a></li>
      </ul>
    </div>
    <div>
      <a class="cta-btn" href="/">Home</a>
    </div>
    <!-- Top icon for mobile view-->
    <div class="icon">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
