<%- include("header") -%>

<section class="sec">
  <div class="homeTxt">
    <h2>Empowering Hackathons for <br>Transparent Evaluation</h2>

    <div class="BtnCon">
      <a class="aCon1" href="/analyze">
        Analyze
      </a>
      <!-- Animated Button -->
      <a class="aCon1 blackBtn" href="/compare">
        Compare
      </a>
    </div>

  </div>
  <img class="homeImg" src="\4592515.jpg" alt="">
</section>
</body>

</html>
