<%- include("header") -%>

  <section>
    <h2>Github Plagiarism Checker</h2>
    <div class="">
      <a href="/analyze">Analyze</a>
      <a href="/compare">Compare</a>
    </div>
  </section>
  </body>
</html>
